@use 'abstracts/breakpoints' as bps;

.container {
    position: absolute;
    top: .75em;
    bottom: .75em;
    left: .75em;
    right: .75em;
    outline: 3px solid rgba(255, 0, 0, 0.3);
    overflow: hidden;
  }
  
  @media screen and (min-width: bps.$breakpoint_1) {
    .container {
      top: 1.5em;
      bottom: 1.5em;
      left: 1.5em;
      right: 1.5em;
    }
  }
  
  .layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    display: grid;
    align-items: center;
    justify-items: center;
  
    &.overflow {
      top: -150%;
      bottom:-150%;
      left: -150%;
      right: -150%
    }
    
    &.spin {
      animation: spin infinite 240s linear;
    }
  
    // To fix a bug in safari where grid item isn't center aligned
    > * {
      position: absolute;
    }
  }
  
  .rotate_90 {
    transform: rotate(90deg);
  }
  .rotate_180 {
    transform: rotate(180deg);
  }
  .rotate_270 {
    transform: rotate(270deg);
  }
  
  .triangle {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    position: absolute;
    top: 50%;
    left: 25%;
    right: 25%;
    bottom: 0;
    background: rgba(33, 33, 33, 0.5);
    animation: triangle-distort infinite 15s ease-in-out;
  }
  
  @keyframes triangle-distort {
    0% {
      left: 25%;
      right: 25%;
    }
    50% {
      left: -25%;
      right: -25%;
    }
    100% {
      left: 25%;
      right: 25%;
    }
  }
  
  .hexagon {
    height: 80vw;
    width: calc(80vw * 1.1547);
    background: rgba(0, 0, 0, 0.8);
    animation: spin-anti infinite 120s linear;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  }
  
  .hexagon_shadow {
    filter: drop-shadow(0 0 12px rgba(255, 255, 255, 0.1));
  }
  
  .bull {
    margin-top:20px;
    width: 50vw;
    opacity: .6;
  }
  
  @media screen and (min-aspect-ratio: '1/1') {
    .hexagon {
      height: 70vh;
      width: calc(70vh * 1.1547);
    }
  
    .bull{
      max-height: 30vh;
      width: auto;
    }
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes spin-anti {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }